
.country {
  display: flex;
  width: 100%;
  background-color: white;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.status-svg {
  flex: 0.025;
}

.left-content {
  display: flex;
  flex: 0.90;
  text-align: left;
}

.right-content {
  flex: 0.2;
  
}

.status {
  flex: 0.06;
}

.country-flag {
  position: relative;
  margin-right: 17.5px;
  width: 30px;
  top: 25%;
}

.country-name {
  position: relative;
  top: 15%;
}

.country-code {
  position: relative;
  top: 30%;
}

.country-status {
  position: relative;
  top: 30%;
}

/* 
.status {
  flex: 1;
} */