.header {
  display: flex;
  padding-left: 40px; /*16px*/
  padding-top: 49px; /*23px*/
  padding-bottom: 23px;
}

.background-svg {
  position: sticky;
  float: right;
  bottom: 0;
}

.page-title {
  flex: 1;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}


@media only screen and (max-width: 600px) {
  .header {
    padding-left: 16px; /*16px*/
    padding-top: 23px; /*23px*/
    padding-bottom: 23px;
  }

  .background-svg {
    display: none;
  }
}